extends layout

block content
  h1 FreeCodeCamp Back End Development and APIs
  strong I have decided to put all the Back End Development and APIs course projects in one. You can check below the different routes per project
  br
  br
  p By 
    strong Carlos Hurtado  
      a.item(href="https://github.com/kikeztw") my github profile
  br
  br
  br
  ul 
    li  
      a.item(href="/time-stamp") Timestamp Microservice
    li  
      a.item(href="/time-stamp") Request Header Parser MicroservicePassed
    li  
      a.item(href="/time-stamp") URL Shortener MicroservicePassed
    li  
      a.item(href="/time-stamp") Exercise Tracker
    li  
      a.item(href="/file-metadata-microservice") File Metadata Microservice